<div class="col-sm-4" ng-if="estatisticas.length">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Situação dos projetos</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Projeto</th>
            <th>Situação</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="getClasse(est.situacao)" ng-repeat="est in estatisticas">
            <td>{{ est.nome }}</td>
            <td>{{ getSituacao(est.situacao) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-sm-4" ng-if="estatisticas.length">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Andamento dos projetos</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <figure ng-repeat="est in estatisticas">
          <div class="gauge">
            <div class="meter" style="transform:rotate({{(est.percConcluido / 100) / 2}}turn); background: {{ getCorPerc(est.percConcluido) }}"></div>
          </div>
          <figcaption>{{ est.nome }}</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-4" ng-if="estatisticas.length">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Prioridade dos projetos</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Projeto</th>
            <th>Prioridade</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="est in estatisticas">
            <td>{{ est.nome }}</td>
            <td>{{ getPrioridade(est.prioridade) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
