<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-sm-1">
      <label for="inputResumo" class="control-label">Resumo</label>
    </div>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputResumo" ng-model="registro.itemSelecionado.resumo">
    </div>

    <div class="col-sm-1">
      <label for="inputPrioridade" class="control-label">Prioridade</label>
    </div>
    <div class="col-sm-2">
      <select class="form-control" id="inputPrioridade" ng-model="registro.itemSelecionado.prioridade">
        <option value="0">Baixa</option>
        <option value="1">Média</option>
        <option value="2">Alta</option>
        <option value="3">Urgente</option>
      </select>
    </div>

    <div class="col-sm-1">
      <label for="inputDeadline" class="control-label">Deadline</label>
    </div>
    <div class="col-sm-2">
      <input type="date" class="form-control" id="inputDeadline" ng-model="registro.itemSelecionado.deadline">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-1">
      <label for="inputStatus" class="control-label">Situação</label>
    </div>
    <div class="col-sm-5">
      <select class="form-control" id="inputStatus" ng-model="registro.itemSelecionado.status">
        <option value="0">Pendente</option>
        <option value="1">Em desenvolvimento</option>
        <option value="2">Encerrado</option>
        <option value="3">Cancelado</option>
      </select>
    </div>

    <div class="col-sm-1">
      <label for="inputResponsavel" class="control-label">Responsável</label>
    </div>
    <div class="col-sm-5">
      <select class="form-control" id="inputResponsavel" ng-model="registro.itemSelecionado.responsavel">
        <option value="{{ usr._id }}" ng-repeat="usr in membros">{{ usr.nome }}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-1">
      <label for="inputDescricao" class="control-label">Descrição</label>
    </div>
    <div class="col-sm-12">
      <textarea class="form-control" id="inputDescricao" ng-model="registro.itemSelecionado.descricao"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success pull-right" ng-click="gravarItem()">
        <i class="fa fa-fw fa-check"></i>Gravar</button>

      <a class="btn btn-success pull-right" ui-sref=".estimativas" style="margin-right:10px" ng-if="registro.itemSelecionado._id">
        <i class="fa fa-clock-o fa-fw"></i>Estimativas
      </a>
      
      <button type="submit" class="btn btn-danger pull-right" style="margin-right:10px" ng-click="excluirItem()" ng-if="registro.itemSelecionado._id">
        <i class="fa fa-fw fa-trash"></i>Excluir</button>

      <button type="submit" class="btn btn-danger pull-right" style="margin-right:10px" ng-click="voltarItem()">
        <i class="fa fa-fw fa-close"></i>Cancelar</button>
    </div>
  </div>
</form>
